/* 
button-links-accent-pink: #ffb4b4	(255,180,180)
tan: #e1c693	(225,198,147)
overlay-green: #8dd0b3	(141,208,179)
brown: #ae7373	(174,115,115)
lavender: #e4d3ff	(228,211,255) 
*/

/* MAIN */
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
{
	text-transform: capitalize;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color:white;
}

img {
	max-width: 280px;
}

/* SHARED */

.container {
	width: 90vw;
	margin: auto;
	padding: 20px 0;	
}

.button {
	color: #fdf5f5;
	background: #ffb4b4;
	padding: 10px;
	text-transform: uppercase;
	border: none;
	
}

.button:hover {
	cursor: pointer;
	background: rgba(141,208,179, 0);
	border: 1px solid #fdf5f5;
	padding: 9px;
}

.center {
	text-align: center;
}

.light-bkground:hover {
	border: 1px solid #8dd0b3;
	color: #8dd0b3;
}

.accent-link {
	color: #ffb4b4;
}

.header-center {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.header-center h4 {
	margin-bottom: 0px;
	text-transform: capitalize;
}

.header-center p {
	margin-top: 0px;
}

/* HEADER */
header {
	background: linear-gradient(rgba(141,208,179, 0.5), rgba(141,208,179, 0.5)) , 
		url(../images/rodolfo-marques-489316-unsplash.jpg) 
		#e1c693 
		no-repeat;
	background-size: cover;
	background-position: center;
	height: 150vh;
	width: 100%;
	color: #18181a;
}

header ul {
	margin: 0;
}

.contactInfo {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: .75em;
}

.contactInfo li {
	margin: 10px 0px;
}

.helpInfo {
	margin: 20px 0px;
}

.helpInfo ul {
	display: flex;
	justify-content: center;
}

.helpInfo li {
	margin: 0px 10px;
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgba(141,208,179, 0.5), rgba(141,208,179, 0.5));
}

#headerNav {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 75%;
}

#headerNav ul {
	position: absolute;
	padding: 0;
}

#headerNav li {
	float: left;
	display: block;
	background: #8dd0b3;
	position: relative;
	z-index: 500;
	margin: 0 1px;
	border-top: 1px solid #fdf5f5;
	white-space: nowrap;
}

#headerNav li a {
	display: block;
	padding: 6px 5px 0px 5px;
	height: 20px;
	text-align: center;
}

#headerNav a:hover {
	text-decoration: none;
	background-color: #ffb4b4;
}

#headerNavLevel2 {
	display: none;
}

.intro {
	margin: 200px auto;
}

.intro p {
	margin: 50px 0px;
	line-height: 2.5rem;
}

/* SAMPLES */
.sample-card {
	max-width: 300px; 
	margin: 40px auto;
}

.sample-card h4 {
	text-transform: capitalize;
}

.sample-card p {
	line-height: 1.5em;
}

.image-container {
	display: inline-block;
	position: relative;
	/* width: 100%; */
	height: 20%;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
	color: #18181a;
	font-size: 1.5em;
}

.image-container:hover .overlay {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(141,208,179, 0.8);
}

.details-link {
	font-weight: bold;
	text-decoration: none;
	color: #ffb4b4;
}

/* SERVICES SECTION */

.services {
	background: linear-gradient(rgba(141,208,179, 0.8), rgba(141,208,179, 0.8)) , 
		url(../images/taylor-kiser-373463-unsplash.jpg) 
		#e1c693 
		no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10px 0px 50px 0px;
}

.service-list {
	padding: 0;
}

.service {
 display: flex;
}

.service-item {
	margin-bottom: 40px;
}

.service-item:hover .service-icon,
.service-item:hover .service-heading a,
.service-item:hover .service-footer a {
	color: #ffb4b4;
}

.service-item a {
	color: #18181a;
}

.service-text {
	margin-left: 30px;
}

.service-heading {
	margin-top: 0px;
	text-transform: capitalize;
}

/* TESTIMONIALS */
.testimonials {
	background: linear-gradient(rgba(141,208,179, 0.8), rgba(141,208,179, 0.8)) , 
		url(../images/velizar-ivanov-570410-unsplash.jpg) 
		#e1c693 
		no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10px 0px 50px 0px;
}

.testimonials ul {
	padding: 0;
}
.testimonials li {
	overflow: hidden;
	margin-bottom: 30px;
}

.testimonials blockquote {
	margin-bottom: 30px;
	background-color: #ffb4b4;
	padding: 20px;
}

blockquote {
	display: block;
	position: relative;
	margin: 0;
	line-height: 1.5;
	z-index: 1;
}

.quotes {
	display: block;
	position: absolute;
	color: #e4d3ff;
	opacity: 0.75;
	font-size: 32px;
	line-height: 32px;
	top: 10px;
	left: 10px;
	z-index: -99;
}

.testimonials blockquote::after {
	display: block;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -15px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 15px 15px 0px 15px;
	border-color: #ffb4b4 transparent;
}

.testimonials img {
	width: 100px;
}

.testimonials figure {
	text-align: center;
}

.fig-heading {
 margin: 0 auto;
}

/* BLOG SECTION */

.lgt-bg-link{
	text-decoration: none;
	color: #ffb4b4;
}

.blog-post .image-container {
	margin-bottom: 30px;
}

.post-desc h4 {
	margin-top: 0.25em;
	margin-bottom: 0.75em;
	font-weight: bold;
}

.blog footer {
	margin-top: 5em;
	margin-bottom: 4em;
}

/* NEWSLETTER */

.newsletter {
	background: linear-gradient(rgba(141,208,179, 0.8), rgba(141,208,179, 0.8)) , 
	url(../images/annie-spratt-96532-unsplash.jpg) 
	#e1c693 
	no-repeat;
	background-size: cover;
	background-position: center;
	/* padding: 10px 0px 50px 0px; */
}

.newsletter-header {
	margin-bottom: 40px;
}

.newsletter form {
	max-width: 80%;
	margin: 0 auto;
	padding: 0;
}

fieldset {
	display: flex;
	border: none;
}

fieldset input, 
fieldset button {
	margin: 0px auto 15px;
}

legend {
	display: none;
}

.newsltr-input {
	width: 80%;
	background: rgba(141, 208, 179, 0);
	border: 2px solid #555557;
	color: white;
	padding: 4px 7px; 
}

.newsltr-input::-webkit-input-placeholder {
	color: #555557;
}

.newsletter:hover .newsltr-input{
	border: 2px solid white;
}

.newsletter:hover .newsltr-input:focus, 
.newsltr-input:focus
{
	border: 2px solid #ffb4b4;
	outline: none;
}

.newsletter button {
	font-weight: bold;
}

.newsltr-btn:hover {
	background: #ffb4b4;
	border: 1px solid #ffb4b4;
}

/* CONTACT SECTION */

.contact {
	background-color: #ffb4b415;
padding-bottom: 1.75em;
}

.contact h4 {
	margin-top: 2em;
	margin-bottom: 3em;
}

.contact-bottom ul {
	-webkit-padding-start: 1em;
	display: flex;
	flex-direction: column;
}

.grey-icon {
	color: rgba(177, 176, 175, 0.7);
}

.contact-bottom address,
.contact-bottom p {
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 0.5em;
	padding: 0.6em 0px;
}

.contact-bottom li:nth-child(2) {
	border-top: 1px rgba(177, 176, 175, 0.5) solid;
	border-bottom: 1px rgba(177, 176, 175, 0.5) solid;
}

.social-media a {
	color: #18181a;
}

.faicon-website:hover {
	color: #582A72;
}

.faicon-github:hover {
	color: #4078c0;
}

.faicon-gitlab:hover {
	color: #fca326;
}

.faicon-codepen:hover {
	color: #0ebeff;
}

.nav-bottom ul {
	-webkit-padding-start: 1em;
}

.nav-bottom li:not(:first-child) {
	border-top: rgba(177, 176, 175, 0.5) 0.5px solid;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 5px;	
}

/* PAGE FOOTER */

.pg-footer {
padding: 1.25em;
}

.pg-footer,
.pg-footer a {
	color: #929190;
}

/* TO TOP  LINK */
.toTop {
	display: flex;
	color: #fdf5f5;
	background: rgba(255, 180, 180, 0.7);
	position: fixed;
	height: 30px;
	width: 30px;
	justify-content: center;
	align-items: center;
	padding: 5px;
	right: 20px;
	bottom: 25px;
	z-index: 99;
	transition: ease-in-out 0.25s;
}

.toTop:hover {
	background: #ffb4b4;
	border: none;
}


/* MEDIA QUERIES */

@media screen and (min-width: 750px) {

	.container {
		max-width: 90%;
	}

	img {
		width: 100%;
	}

	/* SHARED */
	.flex-container {
		display: flex;
		justify-content: space-evenly;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.flex-wrap li {
		width: 31.5%;
		margin-right: 1.5%;
	}

	/* HEADER */

	header {
		height: 100vh;
	}

	.headerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}	

	.contactInfo ul {
		display: flex;
		padding: 0px;
	}

	.contactInfo li {
		margin-right: 20px;
		align-self: center;
	}


	.intro {
		margin-top: 125px;
	}

	.intro h1,
	.intro p {
		max-width: 75%;
		line-height: 2rem;
	}

	/* SAMPLES */

	.sample-card {
		max-width: 30%;
		margin: 40px 10px;
	}

	.image-container {
		height: 21em;
	}

	.img-flex {
		max-height: 21em;
	}

	/* SERVICES SECTION */

	.header-center p {
		max-width: 50%;
		margin: auto;
	}

	/* TESTIMONIALS */

	.testimonial-list {
		display: flex;
	}

	.testimonials ul {
		justify-content: space-around;
	}

	.testimonial-item {
		width: 45%;
		
	}

	/* BLOG POST */

	.blog-post .image-container {
		margin-bottom: 30px;
		max-height: 8.75em;
	}

	/* CONTACT SECTION*/

	.bottom-qtr {
		width: 25%;
	}

	.bottom-qtr h4{
		text-align: center;
	}

	.bottom-qtr:not(:first-child) {
		margin-left: 10px;
	}

	.contact-bottom li {
		display: flex;
		padding-bottom: 1.25em;
	}

	.contact-bottom li:not(:first-child) {
		padding: 1.25em 0;
	}

	.contact-bottom address,
	.contact-bottom p {
		margin-left: 1em;
		margin-top: 0;
		margin-bottom: 0em;
		padding: 0px;
	}
}	

@media screen and (min-width: 960px) {

	.container {
		max-width: 75%;
	}
}